<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!--  Contains the AUT URL  -->
    <add key="ApplicationURL" value="http://executeautomation.com/demosite/Login.html"/>
    <add key ="Browsers" value="Firefox"/>
    <add key="TestType" value="Smoke"/>
  </appSettings>
 
  <connectionStrings>
    <!-- Reporting Database connectivity -->
    <add name="ReportingDb" connectionString="Data Source=KARTHIK;Initial Catalog=IHSReport;Integrated Security=SSPI;"/>
    <!-- To hold the applications connect string-->
    <add name="ApplicationDb" connectionString=""/>
  </connectionStrings>
</configuration>